.contact-form21-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form21-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-form1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form21-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-text-input1 {
  width: 100%;
}
 
.contact-form21-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-textarea1 {
  width: 100%;
}
 
.contact-form21-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form21-form2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form21-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-text-input2 {
  width: 100%;
}
 
.contact-form21-input4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-textarea2 {
  width: 100%;
}
 
.contact-form21-form3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form21-input5 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-text-input3 {
  width: 100%;
}
 
.contact-form21-input6 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form21-textarea3 {
  width: 100%;
}
 
.contact-form21-fragment1 {
  display: contents;
}
 
.contact-form21-text18 {
  display: inline-block;
}
 
.contact-form21-fragment2 {
  display: contents;
}
 
.contact-form21-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form21-max-width {
    flex-direction: column;
  }
  .contact-form21-content {
    width: 100%;
  }
  .contact-form21-form1 {
    width: 100%;
  }
  .contact-form21-form2 {
    width: 100%;
  }
  .contact-form21-form3 {
    width: 100%;
  }
}
