.contact-form1-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form1-max-width {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form1-container1 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.contact-form1-section-title {
  align-self: flex-start;
}
 
.contact-form1-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form1-input1 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
 
.contact-form1-text-input1 {
  flex: 1;
}
 
.contact-form1-input2 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
 
.contact-form1-text-input2 {
  flex: 1;
}
 
.contact-form1-button {
  align-self: flex-start;
}
 
.contact-form1-fragment1 {
  display: contents;
}
 
.contact-form1-text4 {
  display: inline-block;
}
 
.contact-form1-fragment2 {
  display: contents;
}
 
.contact-form1-text5 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form1-input1 {
    align-items: center;
    flex-direction: row;
  }
  .contact-form1-input2 {
    align-items: center;
    flex-direction: row;
  }
}
