.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form2-max-width {
  width: 1136px;
  height: 388px;
}
 
.contact-form2-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-form1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-text-input1 {
  width: 100%;
}
 
.contact-form2-text-input2 {
  width: 100%;
}
 
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-textarea1 {
  width: 100%;
}
 
.contact-form2-form2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-text-input3 {
  width: 100%;
}
 
.contact-form2-text-input4 {
  width: 100%;
}
 
.contact-form2-input4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-textarea2 {
  width: 100%;
}
 
.contact-form2-form3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form2-input5 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-text-input5 {
  width: 100%;
}
 
.contact-form2-text-input6 {
  width: 100%;
}
 
.contact-form2-input6 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-textarea3 {
  width: 100%;
}
 
.contact-form2-fragment1 {
  display: contents;
}
 
.contact-form2-text8 {
  display: inline-block;
}
 
.contact-form2-fragment2 {
  display: contents;
}
 
.contact-form2-text9 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form1 {
    width: 100%;
  }
  .contact-form2-form2 {
    width: 100%;
  }
  .contact-form2-form3 {
    width: 100%;
  }
}
