.contact-form11-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-max-width {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form11-container1 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.contact-form11-section-title {
  align-self: flex-start;
}
 
.contact-form11-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form11-input1 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
 
.contact-form11-text-input1 {
  flex: 1;
}
 
.contact-form11-input2 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
 
.contact-form11-text-input2 {
  flex: 1;
}
 
.contact-form11-input3 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
 
.contact-form11-text-input3 {
  flex: 1;
}
 
.contact-form11-button {
  align-self: flex-start;
}
 
.contact-form11-fragment1 {
  display: contents;
}
 
.contact-form11-text5 {
  display: inline-block;
}
 
.contact-form11-fragment2 {
  display: contents;
}
 
.contact-form11-text6 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form11-input1 {
    align-items: center;
    flex-direction: row;
  }
  .contact-form11-input2 {
    align-items: center;
    flex-direction: row;
  }
  .contact-form11-input3 {
    align-items: center;
    flex-direction: row;
  }
}
