.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-footer-link1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-footer-link2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-footer-link3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
