.navbar1-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar1-image1 {
  height: 3rem;
}
 
.navbar1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar1-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar1-link11 {
  text-decoration: none;
}
 
.navbar1-link12 {
  text-decoration: none;
}
 
.navbar1-link31 {
  text-decoration: none;
}
 
.navbar1-link41 {
  text-decoration: none;
}
 
.navbar1-link51 {
  text-decoration: none;
}
 
.navbar1-link52 {
  text-decoration: none;
}
 
.navbar1-link53 {
  text-decoration: none;
}
 
.navbar1-burger-menu {
  display: none;
}
 
.navbar1-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar1-logo {
  height: 3rem;
}
 
.navbar1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar1-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar1-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-link13 {
  text-decoration: none;
}
 
.navbar1-link2 {
  text-decoration: none;
}
 
.navbar1-link32 {
  text-decoration: none;
}
 
.navbar1-link42 {
  text-decoration: none;
}
 
.navbar1-link54 {
  text-decoration: none;
}
 
.navbar1-buttons {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar1-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar1-fragment10 {
  display: contents;
}
 
.navbar1-text12 {
  display: inline-block;
}
 
.navbar1-fragment11 {
  display: contents;
}
 
.navbar1-text13 {
  display: inline-block;
}
 
.navbar1-fragment12 {
  display: contents;
}
 
.navbar1-text14 {
  display: inline-block;
}
 
.navbar1-fragment13 {
  display: contents;
}
 
.navbar1-text15 {
  display: inline-block;
}
 
.navbar1-fragment14 {
  display: contents;
}
 
.navbar1-text16 {
  display: inline-block;
}
 
.navbar1-fragment15 {
  display: contents;
}
 
.navbar1-text17 {
  display: inline-block;
}
 
.navbar1-fragment16 {
  display: contents;
}
 
.navbar1-text18 {
  display: inline-block;
}
 
.navbar1-fragment17 {
  display: contents;
}
 
.navbar1-text19 {
  display: inline-block;
}
 
.navbar1-fragment18 {
  display: contents;
}
 
.navbar1-text20 {
  display: inline-block;
}
 
.navbar1-fragment19 {
  display: contents;
}
 
.navbar1-text21 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar1-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar1-desktop-menu {
    display: none;
  }
  .navbar1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar1-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar1-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
