.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
 
.navigation-navigation-toggle-icon1 {
  color: var(--color-on-surface);
  display: block;
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-icon2 {
  top: 50%;
  left: 50%;
  color: var(--color-on-surface);
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-icon20 {
  width: 26px;
  height: 39px;
}
